#about {
    background-color: #1ABC9C;
    min-height: calc(100vh - 50px);
    margin-top: 50px;
}

.line {
    background-color: #fff;
    width: 80px;
    height: 4px;
}

@media (max-width: 400px) {
    #about {
        min-height: calc(100vh - 80px);
        margin-top: 80px;
        padding-top: 40px;
    }
}

@media (max-width: 360px) {
    #about {
        min-height: calc(100vh - 80px);
        margin-top: 80px;
        padding-top: 60px;
    }
}