<section id="home" class="home d-flex justify-content-center align-items-center flex-column">
    <div class="text-center text-white">
        <img src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg" class="mb-3" alt="avataaars">
        <h2 class="text-uppercase fw-bolder fs-1 my-3">start framework</h2>
        <div class="icons mb-3 d-flex justify-content-center align-items-center">
            <div class="line me-3"></div>
            <i class="fas fa-star"></i>
            <div class="line ms-3"></div>
        </div>
        <div class="hints">
            <p>Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>



</section>